<table>
<thead>
</thead>
<tr><th colspan=2>Abbreviations</th></tr>
</thead>
<tbody>
<tr><td>4-HNE</td><td>4-hydroxynonenal</td></tr>
<tr><td>A1, A2, A3…</td><td>1<sup>st</sup>, 2<sup>nd</sup>, 3<sup>rd</sup>, … day of adulthood </td></tr>
<tr><td><tr><td>AMP</td><td>adenosine monophosphate</td></tr>
<tr><td>ATP</td><td>adenosine triphosphate</td></tr>
<tr><td>BSA</td><td>bovine serum albumin</td></tr>
<tr><td>C. elegans</td><td>Caenorhabditis elegans</td></tr>
<tr><td><tr><td>CID</td><td>compound ID (<a href="https://pubmchem.ncbi.nlm.nih.gov">PubChem</a>)</td></tr>
<tr><td>CR</td><td>calorie restriction</td></tr>
<tr><td>CML</td><td>N(6)-carboxymethyllysine</td></tr>
<tr><td>CTLs</td><td>catalases</td></tr>
<tr><td>CYPs</td><td>cytochromes P450</td></tr>
<tr><td>DAF-16</td><td>abnormal dauer formation 16</td></tr>
<tr><td>DNA</td><td>deoxyribonucleic acid</td></tr>
<tr><td>DR</td><td>dietary restriction</td></tr>
<tr><td>E. coli</td><td>Escherichia coli </td></tr>
<tr><td>EV</td><td>empty vector </td></tr>
<tr><td>FUdR</td><td>5-fluorodeoxyuridine</td></tr>
<tr><td>GABA</td><td>gamma aminobutyric acid</td></tr>
<tr><td>GCS-1</td><td>gamma glutamylcysteine synthetase 1</td></tr>
<tr><td>GPDHs</td><td>glycerol-3-phosphate dehydrogenase</td></tr>
<tr><td>GSH</td><td>glutathione</td></tr>
<tr><td>GSTs</td><td>glutathione S-transferases</td></tr>
<tr><td>h</td><td>hours</td></tr>
<tr><td>H2DCF-DA</td><td>2',7'-dichlorodihydrofluorescein diacetate (also referred to DCF-DA)</td></tr>
<tr><td>HSPs</td><td>heat shock proteins</td></tr>
<tr><td>HTT</td><td>huntingtin gene</td></tr>
<tr><td>IGF-1</td><td>insulin-like growth factor 1</td></tr>
<tr><td>IPTG</td><td>isopropyl-β-D-thiogalactopyranosid </td></tr>
<tr><td>L1 - L4</td><td>1<sup>st</sup> – 4<sup>th</sup> larval stages </td></tr>
<tr><td>MDA</td><td>malondialdehyde</td></tr>
<tr><td>min</td><td>minute </td></tr>
<tr><td>mtDNA</td><td>mitochondrial DNA</td></tr>
<tr><td>n.d.</td><td>not determined</td></tr>
<tr><td>NGM</td><td>nematode growth medium </td></tr>
<tr><td>OCR</td><td>oxygen consumption rate</td></tr>
<tr><td>OD</td><td>optical density </td></tr>
<tr><td>PMK-1</td><td>P38 map kinase family 1</td></tr>
<tr><td>qRT-PCR</td><td>quantitative polymerase chain reaction (also referred to qPCR or RT-PCR)</td></tr>
<tr><td>RNA</td><td>ribonucleic acid </td></tr>
<tr><td>RNAi</td><td>RNA interference </td></tr>
<tr><td>ROS</td><td>reactive oxygen species</td></tr>
<tr><td>SKN-1</td><td>skinhead 1</td></tr>
<tr><td>SODs</td><td>superoxide dismutases</td></tr>
<tr><td>UGTs</td><td>uridine 5'-diphospho-glucuronosyltransferase</td></tr>
<tr><td>UV</td><td>ultraviolet</td></tr>
</tbody>
</table>

For further strain and gene explanations, please visit <a href="https://wormbase.org">https://wormbase.org</a> or <a href="https://cgc.umn.edu/">https://cgc.umn.edu/</a>.

